.App .signature {
  color: #0e2c48;
  max-width: 600px;
  margin: 0 auto;
  font-size: 12px;
  text-align: center;
}

.App .signature a {
  color: #0e2c48;
}

.App .signature a:hover {
  color: #8d9296;
}
